<!DOCTYPE html>
<html>
<head>
    <title>Client Dashboard</title>
</head>
<body>
    <h1>Client Dash Page</h1>
    <form method="post">
        <input type="hidden" name="form_type" value="meals">
        <label>Meal Type</label>
        <input type= "text" name="meal_type">
        <label>Meal contents</label>
        <input type= "text" name="meal_content">
        <button type="submit">Submit</button>
    </form>
    <form method="post">
        <input type="hidden" name="form_type" value="weight">
        <label>Weight Log</label>
        <input type="text" name="current_weight">
        <button type="submit">Submit</button>
    </form>
    <h2>Your meals</h2>
    <ul>
    {% for meal in meals %}
        <li>{{ meal[0] }} — {{ meal[1] }} ({{ meal[2] }})</li>
    {% endfor %}
    </ul>
    <h2>Your Weight</h2>
    <ul>
    {% for weight in weights%}
        <li>{{ weight[0] }} - {{ weight[1] }}</li>
    {% endfor %}
    </ul>
    <ul>
    <h2>Your Workout</h2>
    {% for workout in workout %}
        <li>{{ workout[0] }} - {{ workout[1] }}</li>
    {% endfor %}
    </ul>
    <a href='/logout'>Logout</a>
</body>
</html>