<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1>
    <form action='/register' method="post">
        <label>First Name</label>
        <input type="text" name="first_name">
        <label>Last Name</label>
        <input type="text" name="last_name">
        <label>Password</label>
        <input type="password" name="password">
        <label>Email</label>
        <input type="email" name="email">
        <label>Height</label>
        <input type="number" name="height">
        <label>Birthdate</label>
        <input type="date" name="birthdate">
        <button type="submit">Register</button>
    </form>
</body>
</html>